{% load static %}
<!DOCTYPE html5>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>t-clone</title>
        <!-- cdnはbase.htmlに読み込む -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>
        <header>
            <a href="/">TOP</a>
            <a href="about">このサイトについて</a>
        </header>
        <main>
            <div id="app">
                <div>
                    <input type="button" value="更新" v-on:click="getTweet">
                </div>
                <div>
                    <textarea v-model="tweetContent" placeholder="いまなにしてる？"></textarea>
                    <input type="button" value="ツイート" v-on:click="postTweet">
                </div>
                <div v-for="tweet in tweets">
                    {% comment  %}Object.values(tweet)と同じ{% endcomment %}
                    <span v-for="item in tweet">
                        [[ item ]]
                    </span>
                </div>
            </div>
            {% comment %}index.htmlの{% block content %}{% endblock content %}で囲まれた要素が挿入される{% endcomment %}
            {% block content %}{% endblock content %}
        </main>
        <script>
            var app = new Vue({
                delimiters: ["[[", "]]"], /* {変数名}だとdjangoの表記と被るので[[変数名]]に変更する */
                el: "#app",
                data: {
                    tweetContent: "",
                    tweets: [],
                },
                methods: {
                    getTweet: function() {
                        fetch("/get")
                        .then((res) => res.json())
                        .then((res) => app.tweets = res.tweets)
                        .thne((err) => alert(err));
                    },
                    postTweet: function() {
                        /* cookieが増えたら使えなくなるかも */
                        /*
                        alert(document.cookie)
                        var opt = {
                            "method": "post", 
                            "headers": {"Content-Type": "application/json"},
                            "body": JSON.stringify({"content": app.tweetContent}),
                            "X-CSRFToken": document.cookie.split("=")[1]
                        }
                        fetch("/post", opt)
                        .then((res) => res.json())
                        .then((res) => {
                            pp.tweets.push(app.tweetContent);
                            app.tweetContent = "";
                        })
                        .catch((err) => alert(err));
                        */
                    }
                }
            });
        </script>
    </body>
</html>